body {
  line-height: 1.5;
  font-family: sans-serif;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1170px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
img {
  overflow: hidden;
  width: 100%;
  vertical-align: middle;
}
/* gallary */
.gallary{
  width: 100%;
  display: block;
  min-height: 100vh;
  background: #2a2932;
  padding: 100px 0;
}
.gallary .gallary-filter {
  width: 100%;
  padding: 0 15px;
  text-align: center;
  margin-bottom: 20px;
}
.gallary .gallary-filter .filter-iteam {
  color: #ffffff;
  font-size: 18px;
  text-transform: uppercase;
  display: inline-block;
  margin: 0 10px;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  transition:  all 0.2 ease;
  
}
.gallary .gallary-filter .filter-iteam.active:hover  {
  color: #ff9800;
  border-color:#ff9800;
  
}
.gallary .gallary-iteam {
  width: calc(100%/3);
  padding: 15px;
}
.gallary .gallary-iteam .gallary-iteam-inner img {
  width: 100%;
}
 .gallary .gallary-iteam.show {
  animation: fadeIn 0.5s  ease  ;
}
@keyframes fadeIn {
  0%{
    opacity: 0;
    }
  100%{
    opacity: 1;
  }
}
.gallary .gallary-iteam.hide {
  display: none;
}